<div class=“container">
  <div class=“row">
    <div class=“col-xs-12 col-sm-offset-3">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name, placeholder: "Please insert the name of the restaurant" %>
        <%= f.input :address, placeholder: "Please insert the address of the restaurant" %>
        <%= f.input :phone_number, placeholder: "Please insert phone number of the restaurant" %>
        <%= f.select :category, %w(chinese italian french belgian japanese), :prompt => 'Select One' %>
        <%= f.submit 'Submit', class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Back', restaurants_path %>
